<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">
      <!-- Chat messages -->
      <app-chat-messages
        text="Provide some texts..."
      />

      @for (message of messages(); track $index) {
        @if ( message.isGpt ) {
          <app-gpt-message-orthography
          [text]="message.text"
          [errors]="message.info!.errors"
          [userScore]="message.info!.userScore"
          />
        }
        @else {
          <app-my-message [text]="message.text"
          />
        }
      }

      @if (isLoading()) {
        <app-typing-loader/>
      }
    </div>
  </div>

 <app-text-message-box
    placeholder="Send some messages"
    (onMessage)="handleMessage($event)"
    [disableCorrections]="true"
  />

</div>
